*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #E9E9E9;
  background-image: url("../img/rag.png");
  background-repeat:repeat-x;
  object-fit: cover;
  margin-top: 35px;
}

h2 {
  background: url("../img/ornament.png") no-repeat 0 50%;
  text-align: center;
  font-size: 1.2em;
  font-weight: lighter;
  font-family: 'Merriweather', serif;
}

h3 {
  font-size: 15px;
  font-family: 'Merriweather', serif;
  font-weight: lighter;
  margin-bottom: 10px;
}

h4 {
  font-size: 11px;
  font-family: 'Merriweather', serif;
  font-weight: lighter;
  margin-bottom: -15px;
  margin-top: 2px;
}
.max-nav {
  display: none;
}

.person {
  text-align: center;
  margin-left: 2.5%;
  margin-bottom: 3px;
  float: left;
  max-width: 45%;
  color: #890101;
  transition: .3s;
}

.person:hover {
  color: red;
}

.footer p {
  font-size: 13px;
  text-align: center;
}

.footer a {
  text-decoration: none;
  color: #890101;
}

.text-content p {
  font-size: 14px;
  font-weight: 100;
  font-family: 'Merriweather', serif;
  line-height: 24px;
}

.text-content h1 {
  font-size: 1.25em;
  text-align: center;
  font-weight: lighter;
  font-family: 'Merriweather', serif;
}

.text-content {
  max-width: 100%;
}

.nav {
  border-top: 1px solid #888583;
}

.table {
  display: table;
  margin: 0 auto;
}

.nav ul {
  list-style-type: none;
}

.bottom {
  background: url("../img/ornament.png") no-repeat 0 100%;
}

.nav li {
  float: left;
  text-align: center;
  padding-top: 10px;
  line-height: 10px;
}

.nav a {
  margin: 0 3% 10px 3%;
  text-decoration: none;
  font-weight: bold;
  color: #890101;
  font-size: .24em;
  font-family: sans-serif;
  padding: 15px 20px 30px 20px;
}

.logo-div {
  display: block;
  margin: 0 auto;
  width: 100%;
  clear: both;
  padding-top: 20px;
  margin-top: 30px;
}

.logo {
  display: block;
  margin: 0 auto;
}

.grey-background {
  background: url("../img/grey-box.png");
  padding: 0 1em;
}

.images img {
  max-width: 100%;
  border-radius: 5px;
}

.footer {
  background: url("../img/ornament.png") 50% 0 repeat-x;
  clear: both;
  padding: 40px 0 20px;
}


@media screen and (min-width:401px) {
  .person {
    max-width: 30%;
  }
  .max-nav {
    display: none;
  }
}

@media screen and (min-width:601px) {
  .logo-div:after {
    content: url("../img/logo-bg.png");
    position: absolute;
    margin-top: -180px;
    margin-left: -45px;
  }
  .logo {
    margin-left: 20%;
  }
  .logo-div {
    margin-top: 100px;
  }
  .right-col {
    max-width: 70%;
    float: right;
  }
  .left-col {
    max-width: 25%;
    float: left;
  }
  .text-content h1{
    font-size: 1.7em;
    margin-top: 100px;
  }
  .max-nav {
    display: none;
  }

  .nav {
    position: absolute;
    margin-top: 330px;
    display: block;
    text-align: center;
    border-top: none;
  }

    .nav li {
    float: none;
    text-align: center;
    padding-top: 20px;
  }

  .nav ul {
    padding: 0;

  }

  .nav a {
    color: #890101;
    padding: 20px 30px 30px 30px;
    font-size: 10px;
  }
  .bottom {
    font-size: 15px!important;
    line-height: 30px;
    background: url("../img/ornament.png") no-repeat 0 120%;
  }
  .table {
    margin-left: 25%;
    border-top: 1px solid #888583;
  }

}

@media screen and (min-width:1300px) {
  .person {
    max-width: 13%;
  }
  .nav {
    border-top: none;
    margin-top: 0;
    width: 70%;
    right: 0;
    /*margin-left: 30%;*/
  }

  .table {
    display: table;
    margin: 0 auto;
    border-top: none;
  }

  .nav ul {
    list-style-type: none;
  }

  .bottom {
    background: url("../img/ornament.png") no-repeat 0 100%;
  }

  .nav li {
    float: left;
    text-align: center;
    padding-top: 10px;
    line-height: 2px;
  }

  .nav a {
    margin: 0 8% 10px 8%;
    text-decoration: none;
    font-weight: bold;
    color: #890101;
    font-size: .24em;
    font-family: sans-serif;
    padding: 15px 80px 30px 80px;
  }
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
